TATUM_API_KEY=
OPENAI_API_KEY=
NEXT_PUBLIC_SUI_NETWORK=mainnet
NEXT_PUBLIC_WALRUS_AGGREGATOR_URL=https://aggregator.walrus-testnet.walrus.space
NEXT_PUBLIC_WALRUS_PUBLISHER=https://publisher.walrus-testnet.walrus.space
NEXT_PUBLIC_PACKAGE_ID=TODO_REDEPLOY_TO_MAINNET
